name: build
on: [release]

jobs:
  build:
    runs-on: ubuntu-latest
    # ...
    permissions:
      contents: write
    steps:
      - uses: Kir-Antipov/mc-publish@v3.3
        with:
          # Only include this section if you wish to publish
          # your assets on Modrinth.
          modrinth-id: armor-hider
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
            